<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/style/style.css">
    <title></title>
  </head>
  <body>
    <h1>HEYO HANS IN THE HAUSE!</h1>

    <div class="adduserbutton">
     See All <a  href="/users">users</a>
    </div>

  </body>
</html>
