<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>HEYO HANS IN THE HAUSE!</h1>
      add a <a href="/user">user</a>
      <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Bio</th>
      </tr>
      {{#userskey}}
      <tr>
      <td><a href='/update_user/{{dataValues.id}}'>{{dataValues.name}}</a></td>
      <td>{{dataValues.email}}</td>
      <td>{{dataValues.bio}}</td>
      <td> <form action="/delete_user/{{id}}" method="post">
        <button type="submit">Delete</button>
      </form></td>
      </tr>
      {{/userskey}}
      </table>
  </body>
</html>
