<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>HEYO HANS IN THE HAUSE!</h1>
      see all <a href="/users">users</a>

      {{#userskey}}
      {{dataValues.name}}
      {{dataValues.email}}
      {{dataValues.bio}}
      {{/userskey}}
  </body>
</html>
